*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body h1,h2{
  font-family: 'Libre Caslon Display', serif;
  font-size: 60px;
}
body h2,h3{
  font-family: 'Libre Caslon Display', serif;
  font-size: 30px;
}
body p{
  font-family: 'Montserrat', sans-serif;
}

body h5,h4{
  font-family: 'Raleway', sans-serif;
}
:root {
  --orange:orange;
     
   }
   .heading{
  color:  var(--orange);
   }
.banner{
    background-image: url("../img/contactus-1.jpg");
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.innerBnner{
 
    background-color: #364592cf;
    height: 70vh; 
    width: 100%;
   
}
#top-header .btn{
  background-color: orange;
  color: white;
  }
#secondHead .content{
  text-align: center;
  color: white;
  transform: translateY(118px);;
}
#adress{
  background-color: #e5efec;
  padding-top: 40px;
  padding-bottom: 40px;
}
#firstSection{
  background-color: #CDF0EA;
}
#secondHead .content{
    text-align: center;
    color: white;
   
}
 
#footer{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #16213E;
    color: white;
  }
  #footer .col-lg-3 a{
    text-decoration: none;
    color: white;
  }
  #footer .col-lg-3 ul{
    list-style-type: none;
    padding-top: 30px;
  }
  #firstSection{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #footer h5{
    font-family: 'Libre Caslon Display', serif;
}
#footer p,a{
    font-family: 'Cormorant Garamond', serif;
}
@media only screen and (max-width: 600px) {
    #footer .col-lg-3{
        margin-top: 60px;
    }
  }
  @media only screen and (max-width: 600px) {
    #secondHead .content h1{
      font-size: 40px;
    }
  h3{
    font-size: 15px;
  }
  }